<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя: </label><br>
            <input type="text" name="name" value="{{ person.name }}"/>
        </p>
        <p>
            <label>Введите фамилию: </label><br>
            <input type="text" name="surname" value="{{ person.surname }}"/>
        </p>
        <p>
            <label>Введите возраст: </label><br>
            <input type="number" name="age" value="{{ person.age }}"/>
        </p>
        <p>
            <label>Введите номер телефона: </label><br>
            <input type="text" name="phone" value="{{ person.phone }}"/>
        </p>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>